.row-buttons {
  @media screen and (max-width: 680px) {
    flex-direction: column;
    .confirm-div {
      margin-bottom: 12px;
    }
  }
}

.check {
  .check-content {
    width: 700px;
    min-width: 300px;
    height: auto;
    background-color: hsla(0, 0%, 100%, 0.9);
    z-index: 1;
    border-radius: 1rem;
    margin: 0px 10px;

    .check-content-logo {
      height: 30.8%;

      .check-content-title {
        font-size: 1.875rem;
      }

      .content-logo {
        @media screen and (max-width: 510px) {
          height: 50px;
        }

        &.caf {
          top: 0;
          left: 0;
        }
      }
    }

    .check-content-form {
      .input-context {
        width: 15.5625rem;
        height: 2rem;
        transition: 0.8s;
        border-bottom: 1px solid $shadow;

        .check-form-input {
          width: 100%;
          font-size: 0.8125rem;
        }

        .check-form-label {
          bottom: 0;
          left: 0;
          margin: 0;
          color: $primary;
        }

        &:hover {
          width: 20.75rem;
        }

        .check-form-input {
          width: 100%;
          font-size: 0.8125rem;
        }

        .check-form-label {
          bottom: 0;
          left: 0;
          margin: 0;
          color: $primary;
        }

        &:hover {
          width: 20.75rem;
        }
      }

      button {
        border-radius: 10px;
        margin: 0 2rem;
        width: 140px;
        height: 80px;
        font-size: $font-size-lg;
        box-shadow: 0px 5px 15px #c0d4f1;
        font-weight: bold;
      }
    }
  }

  .check-bg {
    height: 70vh;
    width: 38%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;

    &.box {
      height: 30vh;
      width: 38%;
      top: 0;
      right: 0;
      background-position: bottom right;
    }
  }
}
