.confirmation {
  position: relative;

  .confirmation-content {
    margin: 0px 10px 0px 10px;
    min-width: 300px;
    width: 800px;
    max-width: 800px;
    height: 450px;
    background-color: hsla(0,0%,100%, 0.9);
    z-index: 1;
    border-radius: 1rem;

    .confirmation-alert {
      min-width: 320px;
      width: 500px;
      max-width: 500px;
    }

    .confirmation-content-logo {
      height: 120px;
      
      .content-logo-image {
        height: 100%;
      }

      .content-logo-title {
        font-size: $font-size-lg;
      }
    }

    .confirmation-content-form {

      .input-context {
        width: 15.5625rem;
        height: 2rem;
        transition: .8s;
        border-bottom: 1px solid $shadow;
  
        .confirmation-form-input {
          width: 100%;
          font-size: .8125rem;
        }
        
        .confirmation-form-label {
          bottom: 0;
          left: 0;
          margin: 0;
          color: $primary;
        }
  
        &:hover {
          width: 20.750rem;
        }
      }

      button {
        width: 26.4%;
        height: 40%;
        font-size: $font-size-lg;
      }
    }
  }

  .confirmation-bg {
    height: 70vh;
    width: 38%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}