.dashboard {
  .dashboard-header {
    background-repeat: no-repeat;
    height: 6.25rem;
  }

  .dashboard-user {
    align-self: flex-start;

    .dashboard-user-avatar {
      width: 11.5rem;
      height: 11.5rem;
      background-size: cover;
      background-position: center;
    }
  }

  .dashboard-image {
    display: none;
  }

  .dashboard-body {
    height: 18.75rem;
    width: 70%;
    background-color: $white;
    transition: background-color 0.8s;
    border-left: 0.3rem $green solid;

    &:hover {
      background-color: $gray-300;
    }
  }
}

@include media-breakpoint-down(md) {
  .dashboard {
    .dashboard-user {
      display: none;
      
      .dashboard-user-avatar {
        width: 8.5rem;
        height: 8.5rem;
        background-size: cover;
        background-position: center;
      }
    }

    .dashboard-image {
      display: block;
    }
  }
}