.dashboard {
  .dashboard-header {
    background-repeat: no-repeat;
    height: 6.25rem;
  }

  .dashboard-body {
    height: 18.75rem;
    width: 70%;
    background-color: $white;
    transition: background-color 0.8s;
    border-left: 0.3rem $green solid;

    &:hover {
      background-color: $gray-300;
    }
  }
}