.home {
  height: 100vh;
  position: relative;

  .home-content {
    width: 59%;
    height: 62vh;
    background-color: hsla(0,0%,100%, 0.9);
    z-index: 1;
    border-radius: 1rem;

    .home-content-logo {
      height: 30.8%;
      
      .content-logo-image {
        height: 100%;
      }

      .content-logo-title {
        font-size: $font-size-lg;
      }
    }

    .home-content-options {
      button {
        width: 26.4%;
        height: 40%;
        font-size: $font-size-lg;
      }
    }
  }

  .home-bg {
    height: 70vh;
    width: 38%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}