.login {
  height: 100vh;
  position: relative;

  .login-form {
    width: 50%;

    .input-context {
      margin-top: 2rem;
      width: 15.5625rem;
      height: 2rem;
      transition: .8s;
      border-bottom: 1px solid $shadow;

      .login-form-input {
        width: 100%;
        font-size: .8125rem;
      }
      
      .login-form-label {
        bottom: 0;
        left: 0;
        margin: 0;
        color: $primary;
      }

      &:hover {
        width: 20.750rem;
      }
    }

    .login-form-button {
      width: 20.750rem;
      height: 2.75rem;
    }

    .login-form-link {
      font-size: $font-size-sm;
    }

  }

  .login-bg {
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
  }
}

@include media-breakpoint-down(md) {
  .login {
    .login-form {
        width: 100%;
    }
  
    .login-bg {
      display: none;
    }
  }
}