.login {
  height: 100vh;
  position: relative;

  .login-form {
    .login-form-input {
      border-bottom: 1px solid $shadow;
      width: 50%;
    }
  }

  .login-bg {
    height: 100vh;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom left;
  }
}