.color-primary {
    color: $primary;
}

.color-green {
    color: $green;
}

.color-red {
    color: $red;
}

.color-blue {
    color: $blue;
}

.color-white {
    color: $white;
}

.color-dark {
    color: $dark;
}